html {
    height: 100vh;
}
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
}
header > div#titlebar {
    display: flex;
    flex-direction: row;

}
header > div#titlebar > h1 {
    margin: 0px;
}
header > div#titlebar > p {
    margin: 0px;
    margin-top: auto;
    margin-bottom: 5px;
}
p {
    margin: 0px;
}
header > div#menu {
    border: 1px solid black;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
}
header > div#menu .menubtn,.menuspacer {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 25px;
    padding: 0px 2px;
    padding-top: 2px;
}
header > div#menu .menubtn {
    cursor: default;
    background: linear-gradient(to bottom, white , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , black);
                border: 1px solid black;
                border-radius: 5px;                
}
header > div#menu .menubtn:hover {
    background-color: LightSkyBlue;
}
header > div#menu a.menubtn {
    color: black;
    margin: 0px;
}
header > div#menu a.menubtn#loadDefaults {
    width: 156px;
}
header > div#menu a#reset {
    background: yellow;
    margin-left: auto;
}
header > div#menu a#reset:hover {
    background: red;
}
header > div#menu #configtitle {

}
header > div#menu #filesbtn {
    border: none;
}
header > div#menu > a#saveAll {
    display: none;
}

h2 {
    margin: 5px;
}


content {
    display: flex;
    flex-direction: row;
    position: relative;
    flex: 1 0 auto;
}
content div {
    border: 2px solid black;
    width: 100%;
}
content > div {
    display: flex;
    flex-direction: row;
}
content > div > div {
    display: flex;
    flex-direction: column;
}

/* file list */

div#fileListContainer {
    width: 200px;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}
div#fileListContainer > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    border-top: 1px solid black;
}
div#fileListContainer div#fileList .fileNameLink {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background: Gainsboro;
    border: 3px solid Gainsboro;
}
div#fileListContainer div#fileList .fileNameLink:hover, div#fileListContainer div#fileList .fileNameLink:nth-child(odd):hover {
    border: 3px dashed red;
}
div#fileListContainer div#fileList .fileNameLink:nth-child(odd) {
    background: Silver;
    border: 3px solid Silver;
}
div#fileListContainer div#fileList .fileNameLink.active {
    border: 3px solid LightSkyBlue;
}
div#fileListContainer div#fileList .fileNameLink.active:hover {
    background: red;
    border: 3px solid LightSkyBlue;
}
div#fileListContainer div#fileList a {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
div#fileListContainer > div#fileList > div > img.saveicon {
    margin-right: 3px;
    cursor: pointer;
}
/*save image*/
img.saveicon {
    width: 16px;
    height: 16px;
    margin: 1px;
    margin-top: 2px;
}
/* editor */
div#fileEditor {
    border: none;
    border-left: 2px solid black;
}
div#fileEditor textarea {
    resize: none;
    white-space: pre;
    overflow: auto;
    max-width: 100%;
    height: 100%;
}

/* preview area */
div#right {
    display: flex;
    flex-direction: column;
    height: 100% -4px;
}
div#right > div#obj {
    display: block;
    border: none;
    flex: 1 1 auto;
    height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
div#right > div#obj div {
    margin: 2px;
    border: 1px solid black;
}

#visTitleContainer {
    display: flex;
    flex-direction: row;
}
#refresh {
    display: block;
}
#refresh:hover {
    background: LightSkyBlue;
}
#refresh > img {
    width: 32px;
    height: 32px;
    padding-top: 3px;
}


.objectName {
    margin: 1px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 12px;
}
div#right > div#obj > div,
div#right > div#obj > div > div > div, 
div#right > div#obj > div > div > div > div > div, 
div#right > div#obj > div > div > div > div > div > div > div, 
div#right > div#obj > div > div > div > div > div > div > div > div > div, {
    background: lightgray;
}
div#right > div#obj > div > div,
div#right > div#obj > div > div > div > div,
div#right > div#obj > div > div > div > div > div > div,
div#right > div#obj > div > div > div > div > div > div > div > div,
div#right > div#obj > div > div > div > div > div > div > div > div > div > div,{
    background: white;
}

.key {
    display: block;
    font-weight: normal;
}